{% extends "app_order/base.html" %}
{% load static %}

{% block content %}
<div class="container px-4 py-5" id="icon-grid">
    <h1 class="pb-2 border-bottom">{{ order.name }} --
        <a href="#">{{ order.hypperlink }}</a>
    </h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <div>
                <h4 class="fw-bold mb-0">Номер заказа</h4>
                <p>{{ order.number_order }}</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#cpu-fill"></use>
            </svg>
            <div>
                <h4 class="fw-bold mb-0">Менеджер</h4>
                <p>{{ order.manager }}</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#calendar3"></use>
            </svg>
            <div>
                <h4 class="fw-bold mb-0">Дата принятия заказа</h4>
                <p>{{ order.date_of_acceptance_of_the_order }}</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#home"></use>
            </svg>
            <div>
                <h4 class="fw-bold mb-0">Дата сдачи заказа</h4>
                <p>{{ order.date_of_delivery_of_the_order }}</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#speedometer2"></use>
            </svg>
            <div>
                <h4 class="fw-bold mb-0">Сумма договора</h4>
                <p>{{ order.the_amount_of_the_deal }} ₽</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#toggles2"></use>
            </svg>
            <div>
                <h4 class="fw-bold mb-0">Тираж</h4>
                <p>{{ order.circulation }} шт.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#geo-fill"></use>
            </svg>
            <div>
                <h4 class="fw-bold mb-0">Заказчик</h4>
                <p>{{ order.customer }}</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#tools"></use>
            </svg>
            <div>
                <h4 class="fw-bold mb-0">Дата оплаты</h4>
                <p>{{ order.the_date_of_payment }}</p>
            </div>
        </div>
    </div>
    <div class="p-5 mb-2 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2 class="fw-bold mb-0">Описание</h2>
            <p class="col-md-8 fs-4">{{ order.description|safe }}</p>
        </div>
    </div>
</div>
{% endblock content %}
