<html>
    <h1>Накладная</h1>
    <body>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Номер заказа</th>
                    <th scope="col">Название заказа</th>
                    <th scope="col">Заказчик</th>
                    <th scope="col">Менеджер</th>
                    <th scope="col">Дата сдачи заказа</th>
                    <th scope="col">Оборудование</th>
                    <th scope="col">Тип продукции</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-warning">{{ order.number_order }}</td>
                    <td class="table-warning">{{ order.name }}</td>
                    <td class="table-warning">{{ order.customer }}</td>
                    <td class="table-warning">{{ order.manager }}</td>
                    <td class="table-warning">{{ order.date_of_delivery_of_the_order }}</td>
                    <td class="table-warning">{{ order.equipment }}</td>
                    <td class="table-warning">{{ order.product_type }}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <p>пиши здесь</p>
        </div>
    </body>
</html>
